*{
    margin: 0%;
    font-family: nunito;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1, input, h3{
    margin: 1rem;
}

input{
    cursor: pointer;
    border-style: none;
    outline: none;
}

.btn-random{
    padding: 15px 20px;
    cursor: pointer;
    background-color: steelblue;
    color: white;
    outline: none;
    border-style: none;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

/* background-image: linear-gradient(to right, red , yellow); */
